<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
  integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu"
  crossorigin="anonymous"
/>

<div class="header">
  <div class="header-container">
    <div class="logo">
      <img src="../../assets/img/logo.png" alt="Livescore" />
    </div>
    <div class="container-pesquisar">
      <input class="pesquisar" type="text" placeholder="Pesquisar" />
      <i class="fas fa-search fa-lg search-icon"></i>
    </div>
    <div class="container-login">
      <i class="far icon-bell fa-bell"></i>
      <a>Ivan L.</a>
      <i class="fas icon-user fa-user-circle">
        <i class="fas fa-sm fa-chevron-down icon-arrow"></i>
      </i>
    </div>
  </div>
</div>
