.header {
  display: flex;
  background-color: rgb(7, 0, 30);
  height: 80px;
  width: 92.8vw;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}

.pesquisar {
  background-color: rgba(255, 255, 255, 0.13);
  color: rgba(255, 255, 255, 0.13);
  border-radius: 15px 15px;
  border: none;
  height: 35px;
  width: 570px;
  padding-bottom: 5px;
  padding-left: 20px;
  font-size: 17px;
}

.pesquisar:focus {
  outline: none;
}

.search-icon {
  margin-left: -35px;
  color: rgb(87, 87, 87);
}

.container-login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  padding-right: 30px;
}

.container-login a {
  color: white;
  font-size: 18px;
}

.fa-lg {
  font-size: 20px;
}

.icon-bell {
  font-size: 26px;
  color: rgb(87, 87, 87);
}

.icon-user {
  display: flex;
  align-items: center;
  font-size: 42px;
  color: rgba(87, 51, 51, 0.699);
}

.icon-arrow {
  padding-left: 10px;
  font-size: 13px;
  color: white;
}
